mat-icon{
    color: aliceblue;
}
.current-speed{
    color: antiquewhite;
    margin-top: 12px;
    font-size: larger;
    cursor: pointer;

}
vg-time-display span{
    margin-left: -15px;
}
.videopalyer{
    
}
#singleVideo{
    
    box-sizing: border-box;
    height: 540px;
    // aspect-ratio: 16/9;
}
.video-player-wrapper{
    width: 75%;
}